<% if current_user.first_name == nil || current_user.last_name == nil || current_user.age == nil || current_user.profession == nil || current_user.weight == nil || current_user.phone == nil%>
<%= link_to "PROFIL IMCOMPLET", edit_user_registration_path, class: "btn btn-secondary btn-block" %>
<% end %>

<div class="div-container-global">
  
    <div class="div-container-title">
        <h1>Bienvenue <%= first_name_nil(current_user.first_name) %> <%= last_name_nil(current_user.last_name) %></h1>
    </div>
    <div class="div-container-body">

      <div class="div-container-belt", style="background-color: <%=color_belt(current_user.belt)%>;">
     
      </div>

    <div class="div-container-body-infos">
      <div class="div-container-img">
        <%= image_tag "avatar.jpg", :class => "d-block w-100"%>
      </div>
      <div class="div-container-body-infos-sub">
        <div class="div-infos-title">
          <div>Email:</div>
          <div>Téléphone:</div>
          <div>Ceinture:</div> 
          <div>Age:</div>
          <div>Poids:</div>
          <div>Profession:</div>
          <div>Nationalité:</div>

                     
        </div>

        <div class="div-infos-values">
          <div> <%= name_nil(current_user.email) %></div>
          <div> <%= name_nil(current_user.phone) %></div>
          <div> <%= name_nil(current_user.belt) %> </div>
          <div> <%= name_nil_1(current_user.age) %></div>
          <div> <%= name_nil_2(current_user.weight) %> </div>
          <div> <%= name_nil(current_user.profession) %></div>
          <div> <%= name_nil(current_user.nationality) %></div>
        </div>
      </div>

      <div class="div-container-body-subscription">
        <div class="div-container-body-subscription-title">
          ABONNEMENT
        </div>
        <div class="div-container-body-subscription-content">
          <div class="div-container-body-subscription-content-1">
            <%= contract_real_name(current_user_contract_name) %>
          </div>

        <div>
          Du: <%= current_user_contract_duration %>
        </div>
        <div>
          <%= contract_real_time(current_user_contract_name)%>
        </div>
        </div>
        
      </div>
    
    </div>

  <div class="div-container-foot">
    <div class="div-container-foot-sub">
      <%= link_to "Me Déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-danger", style: "width: 300px;" %>
    </div>
    <div class="div-container-foot-sub">
      <%= link_to "Modifier mon Profil", edit_user_registration_path, class: "btn btn-default" %>
    </div>
    <div class="div-container-foot-sub">
       <%= link_to "Annuler", :back, class: "btn btn-default" %>
    </div>
  </div>

</div> 






