  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-shrink" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href=<%= root_path %>>
        <%= image_tag "LogoGB-2.png", :class => "img-fluid", :style => "width:15%; height:15%;"%>
         GRACIE BARRA PARIS
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#code">Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#planning">Planning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#histoire">Histoire</a>
          </li>
          <li>
            
            <% if user_signed_in? %>
              <div class="dropdown nav-item"> 
                <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Compte
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownID">
                <%= link_to 'Profil', pages_secret_page_path(current_user.id), class: "nav-link" %>
                <%= link_to "Déconnexion", destroy_user_session_path, class: "nav-link", :method => "delete" %>
                    <a class="nav-link" href="#">Something else here</a>
                </div>
              </div>  
            <% end %>
          
          </li>
        </ul>
      </div>
    </div>
    <%= render "layouts/flash" %>
  </nav>